# ðŸ§¹ Mess With a List

Do you dare to solve this mess?

## Basic Datatypes

Q has many [datatypes](https://code.kx.com/q/basics/datatypes/) defined. We've already seen chars, longs, booleans etc., but there's a plethora of them. Each type has a numeric value identifying it. For example, boolean and long values are associated to numbers 1 and 7, respectively. Given a value, we could use `type` to get its associated type number.

In [1]:
type 4.5

-9h

As you can see, the `h` accompanying numbers indicates that the type of the output is a _short_ value. We don't have that many types in q!

What about the negative value? In q, a negative value implies a scalar, while a positive value indicates a list of elements of the corresponding type.

In [3]:
type 1.4 2.5 3.1

9h

What happens if we apply `type` to the input example?

In [4]:
type xs:(`a;2;2020.08.23;3.1;`b;4)

0h

We get 0!?!? This is the type associated to general lists.

<div class="alert alert-info">
How can we determine the type of each element instead of the type of the entire list?
</div>

In [5]:
type each xs

-11 -7 -14 -9 -11 -7h

Letâ€™s take a look at the data types we have here. We see a `-11`, which indicates that we have a `symbol`. This data type allows us to represent text. Unlike strings, which are typically lists of characters, symbols can represent multiple characters as a single, atomic value (scalar)

In [7]:
`hello

`hello

On the other hand, we see a `-14`, which indicates a `date`. This is a native built-in datatype in kdb+ that allows us to handle dates efficiently. For example, you can easily add days to a date or subtract two dates to find the number of days that have passed between them, among other operations.

In [9]:
2024.01.01 - 2023.01.01

365i

## Tidying Up

Once we have determined the type for each value, the next step is to group together the values of the same type, using the [group](https://code.kx.com/q/ref/group/) primitive.

In [10]:
group type each xs

-11| 0 4
-7 | 1 5
-14| ,2
-9 | ,3

As stated by the official documentation:
> Returns a _dictionary_ in which the keys are the distinct items of x, and the values the indexes where the distinct items occur.

You can think of a dictionary as a relation of keys and values. We can easily create a dictionary by means of `!`, taking two lists as arguments

In [12]:
1 2!3 4

1| 3
2| 4

We no longer care about the keys of our dictionary, so we can safely get rid of them by means of `value`.

In [16]:
value group type each xs

0 4
1 5
,2
,3

At this point, we have a list of lists where each sublist represents all the positions of elements of the same type. Again, we don't care much about these positions; we just need to [`count`](https://code.kx.com/q/ref/count/) them.

In [13]:
count each value group type each xs

2 2 1 1

## Wrapping Up

Finally, we just generalise the previous expression into a function. The adaptation is trivial.

In [14]:
f: {count each value group type each x}

Sometimes you'll find situations where the input parameter is omitted. This is an example of so-called tacit programming.

In [15]:
f: count each value group type each ::